<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/dist/main.css">
    <title>Minerva Signout</title>
</head>
<body>
    {{template "menu"}}
    <div class="parentContainer">
        <div class="content">
            <div class="frontPage">
                <div class="notification">{{.ErrorNotification}}</div>
                <div class="signingOptions">
                    <h1>
                        <a class="signingOption" href="/signout">Sign Out</a>
                        <a class="signingOption" href="/signin">Sign In</a>
                    </h1>
                </div>
                <div class="clock">
                    <iframe src="http://free.timeanddate.com/clock/i6xjs05d/n136/tluk/tt0/th1/ts1" frameborder="0" width="253" height="19"></iframe>
                </div>
            </div>
        </div>
    </div>
    {{template "copyright"}}
</body>
</html>
