<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/public/main.css">
    <script type="text/javascript" src="/public/main.js"></script>
    <title>Log In</title>
</head>
<body>
    {{template "menu"}}
    <div class="parentContainer">
        <div class="content">
            {{.M}}
            <form action="/login" method="POST">
                <input type="text" name="uname" class="toValidate" placeholder="name@example.com"><br>
                <input type="password" name="pwd" id="pwd" placeholder="Password"><br>
                Remember Me?<input type="checkbox" name="persist" id="persist"><br>
                <input type="submit" value="Submit">
                <p>New User? <a href="/new-user">Register</a> </p>
            </form>
        </div>
    </div>
    {{template "copyright"}}
</body>
</html>
