<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/public/main.css">
    <script type="text/javascript" src="/public/main.js"></script>
    <title>New Boat</title>
</head>
<body>
    {{template "menu"}}
    <div class="parentContainer">
        <div class="content">
            <div id="notification">{{.ErrorNotification}}</div>
            <form action="/new-boat" method="POST">
                <input type="text" id="newBoatInput" name="boatName" class="toValidate" placeholder="Boat Name">
                <input type="submit" value="Submit">        
            </form>
        </div>
    </div>
    {{template "copyright"}}
</body>
</html>
