<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/styles.css">
    <script type="text/javascript" src="../scripts/boat-validation.js"></script>
    <title>New Boat</title>
</head>
<body>
    {{template "menu"}}
    <form action="/new-boat" method="POST">
        <!-- TODO - make this validate -->
        <input type="text" name="boatName" class="toValidate" placeholder="Boat Name">
        <input type="submit" value="Submit">        
    </form>
</body>
{{template "copyright"}}
</html>