<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/public/main.css">
    <title>New User</title>
</head>
<body>
    {{template "menu"}}
    <div class="parentContainer">
        <div class="content">
            <form action="/new-user" method="post">
                <p>New User:</p>
                <input type="text" name="name" id="name" placeholder="Name" required><br>
                <input type="email" name="email" id="email" placeholder="Email Address" required class="toValidate"><br>
                <input type="password" name="pwd" id="pwd" placeholder="Password" required><br>
                <input type="password" name="pwd2" id="pwd2" placeholder="Password Confirmation" required><br>
                <select name="club" id="club">
                    <option value="Minerva">Minerva</option> <!-- turn this into a range thing-->
                </select>
                <input type="submit" value="Submit">
            </form>
            <p>For new club enquiries email <a href="mailto:89benmatthews@gmail.com">admin@signout.com</a></p>
        </div>
    </div>
    {{template "copyright"}}
    <script src="/scripts/new-user-validation.js"></script>
</body>
</html>
